/* Light Mode */
body {
    font-family: 'Avenir', sans-serif;
    background-color: #fff1e0; /* Light background */
    color: #333; /* Light mode text color */
    margin: 0;
    padding: 0;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #fff1e0; /* Dark background */
        color: #333; /* Dark mode text color */
    }
}

/* Main Header */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff1e0;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff1e0;
    margin-bottom: 10px;
}

/* Section Headers */
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff1e0;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Subsections and Text */
p, li {
    font-size: 1rem;
    line-height: 1.6;
}

/* Links */
a {
    color: #fff1e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for lists */
ul {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Button Styling */
button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #fff1e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #fff1e0;
}

/* Contact Section Styling */
.contact {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.contact-info {
    font-size: 0.9rem;
}

/* Divider */
.divider {
    height: 1px;
    background-color: #fff1e0;
    margin: 30px 0;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3 {
        color: #fff1e0; /* Dark mode headers */
    }

    .divider {
        background-color: #333; /* Dark mode divider */
    }
}
